results/
nnp/n2p2_*
#lmp/
nnp-trained/
#input.nn
log.cite
.idea
*.xyz
*.data
log.lammps
*.out
__*__
DFT_DATA13/
#openmx/
vasp/train/
vasp/h2o/
vasp/tmp
vasp/input.data
*CAR
*.mpg
submit*.sh
*.log
archive_*/
*.zip
stdout
stderr

